<div id="<%= dom_id shelter %>">
  <p>
    <strong>Name:</strong>
    <%= shelter.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= shelter.address %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= shelter.slug %>
  </p>

  <p>
    <strong>About:</strong>
    <%= shelter.about %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= shelter.contact_email %>
  </p>

  <p>
    <strong>Contact phone:</strong>
    <%= shelter.contact_phone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= shelter.location %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= shelter.tags %>
  </p>

  <p>
    <strong>Website url:</strong>
    <%= shelter.website_url %>
  </p>

</div>
