<% if @shelter.images.attached? %>
  <section>
    <%= render GalleryComponent.new(
      galleryable: @shelter,
      class: "h-64 rounded-md",
    ) %>
  </section>
<% end %>
<%= render "shelters/layout", shelter: @shelter, class: "gap-y-8" do %>

  <section class="section-lg flex flex-col gap-y-2">
    <h1>
      <%= @shelter.name %>
    </h1>
    <div>
      <%= @shelter.about %>
    </div>
  </section>
  <section class="flex justify-center ">
    <%#  %>
    <%# SHELTER DATA %>
    <%#  %>
    <div class="columns-2 py-2 max-w-72">
      <div class="justify-center max-w-sm">
        <p class="text-center py-2 "> Headcount </p>
        <%= render DonutGraphComponent.new(
          displayed_value: @shelter.last_headcount,
          max_value: @shelter.max_headcount,
          primary_color: "bg-primary-900",
          secondary_color: "bg-gray-900"
        )%>
      </div>
      <div class="justify-center max-w-sm">
        <p class="text-center py-2"> Bedcount </p>
        <%= render DonutGraphComponent.new(
          displayed_value: @shelter.last_bedcount,
          max_value: @shelter.max_bedcount,
          primary_color: "bg-primary-900",
          secondary_color: "bg-gray-900"
        )%>
      </div>
    </div>
  </section>
  <% if @shelter.location? %>
    <hr class="section-lg" />
    <section class="flex flex-col gap-y-4">
      <div class="mx-auto w-full max-w-2xl">
        <h2>Location</h2>
        <p>
          <span class="font-semibold">
            <%= @shelter.name %>
          </span>
          is located at
          <%= external_link_to(
            @shelter.address,
            @shelter.google_maps_directions_url,
            class: "link font-semibold",
          ) %>.
        </p>
      </div
      <%= render LocationComponent.new(
        location: @shelter.location,
        interactive: true,
        class: "h-[32rem] max-h-[calc(theme('height.screen')-theme('height.20'))]",
      ) %>


    </section>
  <% end %>
<% end %>
