<div class="layout">
  <section class="section-sm">
    <h1>Resend confirmation instructions</h1>
    <p class="text-sm text-zinc-400">
      Enter your email to receive instructions to reset your password.
    </p>
  </section>
  <section class="section-sm">
    <%= simple_form_for(
      resource,
      as: resource_name,
      url: confirmation_path(resource_name),
      html: {
        class: "gap-2",
        method: :post,
      },
    ) do |f| %>
      <%= render FormNoticeComponent.new(form: f) %>
      <%= f.full_error :confirmation_token %>
      <div class="form-inputs">
        <%= f.input(
          :email,
          autofocus: true,
          value: resource.pending_reconfirmation? ?
            resource.unconfirmed_email :
            resource.email,
          input_html: {
            autocomplete: "email",
          },
        ) %>
      </div>
      <div class="form-actions">
        <%= f.button(
          :submit,
          "Resend confirmation instructions",
          class: "btn btn-primary w-full"
        ) %>
      </div>
    <% end %>
  </section>
  <section class="section-sm">
    <%= render "devise/shared/links" %>
  </section>
</div>
