<div class="h-12"></div>
<header
  class="<%= class_names(
    component_name,
    "fixed top-0 w-full h-12 z-20 px-2",
    "flex gap-x-1 items-center justify-between",
    "bg-zinc-900 border-b border-zinc-800",
    other_classes,
  ) %>"
  <%= tag.attributes other_attributes %>
>
  <div class="flex-1 flex justify-start">
    <%= link_to :root, class: "flex justify-start" do %>
      <div
        class="<%= class_names(
          "flex flex-col sm:flex-row items-center gap-0.5 sm:gap-2",
          "transition-opacity hover:opacity-80"
        ) %>"
      >
        <%= image_tag "logo.svg", class: "w-8 h-full" %>
        <div class="hidden md:flex flex-col">
          <span class="font-bold text-sm text-white tracking-widest leading-tight">
            CHALMERS PROJECT
          </span>
          <span
            class="<%= class_names(
              "text-xs text-zinc-500",
              "hidden sm:inline"
            ) %>"
          >
            Fighting homelessness in Toronto, Ontario
          </span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex-none">
    <%= render HeaderNavComponent.new %>
  </div>
  <div class="flex-1 flex justify-end">
    <%= render HeaderMenuComponent.new %>
  </div>
</header>
