<%= turbo_frame_tag dom_id(api_key) do %>
  <div class="<%= class_names(
                    "my-3 p-2",
                    "flex items-center gap-x-2",
                    "border rounded-md",
                    "bg-zinc-700/20 text-sm text-zinc-400",
                    ) %>
                  ">
    <div class="flex-1 text-secondary-500/90">
      <%= api_key.token %>
    </div>
    <div class="flex-1 flex justify-end gap-2 items-center">
      <%= api_key.created_at %>
      <%= button_to "Delete",
                    api_key_path(api_key),
                    method: :delete,
                    class: "btn btn--light" %>

      <%= button_to(
            api_key_path(api_key),
            method: :delete,
            data: {
              turbo_confirm:
                  "Are you sure? This action cannot be undone.",
            },
            class: "danger"
          ) do %>
          Delete
      <% end %>

    </div>
  </div>
<% end %>
