<%# == Meta Tags == %>
<% set_meta_tags(
  title: ["Sign In"],
  description: "Sign into Chalmers.",
) %>

<%# == Main == %>
<div class="layout">
  <section class="section-xs">
    <h1>Sign In</h1>
    <div>
      <p class="text-sm text-zinc-400">
        Welcome back to Chalmers! Please sign in to continue.
      </p>
      <p class="text-sm text-zinc-500">
        New around here? <%= link_to(
          "Sign up instead.",
          new_user_registration_path,
          class: "text-primary-500 underline transition-opacity hover:opacity-80",
        ) %>
      </p>
    </div>
  </section>
  <% if devise_mapping.omniauthable? && Devise.omniauth_providers.present? %>
    <section class="section-xs flex flex-col gap-y-4">
      <%= render "devise/shared/social_auth" %>
    </section>
  <% end %>
  <section class="section-xs">
    <%= simple_form_for(
      resource,
      as: resource_name,
      url: session_path(resource_name),
      data: {
        turbo: false,
      },
    ) do |f| %>
      <div class="form-inputs">
        <%= f.input(
          :email,
          required: false,
          autofocus: true,
          placeholder: "email@example.com",
          input_html: {
            autocomplete: "email",
          },
        ) %>
        <%= f.input(
          :password,
          required: false,
          placeholder: "********",
          input_html: {
            autocomplete: "current-password",
          },
        ) %>
        <%= f.input(
          :remember_me,
          as: :boolean,
          label: false,
          inline_label: "Keep me signed in.",
          wrapper_html: {
            class: "[&>label]:text-sm [&>label]:text-zinc-400",
          },
          input_html: {
            checked: true,
          },
        ) if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.submit "Sign In", class: "btn btn-primary w-full" %>
      </div>
    <% end %>
  </section>
  <section class="section-xs">
    <%= render "devise/shared/links" %>
  </section>
</div>
