<%= render "shelter_signals/layout", signal: @signal, class: "gap-y-8" do %>
  <section class="section-lg flex flex-col gap-y-2">
    <h1>
      <%= @signal.name %>
    </h1>

    <hr class="my-12 h-0.5 border-t-0
            bg-neutral-100 opacity-100
            dark:opacity-50" />
    <% if admin? %>
      <div class="flex gap-y-5">
        <h2 class="flex-1">API Keys</h2>

        <%= link_to 'New API Key',
                    new_api_key_path,
                    data: { tubro_frame: dom_id(ApiKey.new) },
                    class: "flex-1 self-start btn btn-primary"
                    %>
      </div>

      <ul>

        <%= turbo_frame_tag "api_keys" do %>
          <%= render @api_keys %>
        <% end %>

      </ul>

    <hr class="my-12 h-0.5 border-t-0
            bg-neutral-100 opacity-100
            dark:opacity-50" />
    <% end %>

    <div>
      <h3>Measurements</h3>
      <ul>
        <% @signal.measurements.each do |measurement| %>
        <li>
          <%= measurement.value %> / <%= measurement.max_value %> (measured on: <%= l(measurement.created_at, format: :short) %>)
        </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
