<%= render "shelter_signals/layout", signal: @signal, class: "gap-y-8" do %>
  <section class="section-lg flex flex-col gap-y-2">
    <h1>
      <%= @signal.name %>
    </h1>
    <div>
      <%= @signal.shelter.name %>
    </div>

    <% if admin? %>
      <h2>API Keys</h2>
      <ul>
      <% @signal.api_keys.each do |api_key| %>
        <li>
          <%= api_key.token %>
        </li>
      <% end %>
      </ul>
    <% end %>

    <div>
      <h3>Measurements</h3>
      <ul>
        <% @signal.measurements.each do |measurement| %>
        <li>
          <%= measurement.value %> / <%= measurement.max_value %> (measured on: <%= l(measurement.created_at, format: :short) %>)
        </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
